<div *ngIf="loading" class="alert alert-info">Cargando productos...</div>
<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
<div class="search-container">
  <input type="text" class="form-control mb-3" placeholder="Buscar productos..."
    [formControl]="searchControl" />
</div>
<div class="content">
    <table class="table" *ngIf="!loading && !error">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Imagen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of filteredProducts">
          <td>{{ producto.id }}</td>
          <td>{{ producto.title }}</td>
          <td>{{ producto.price | currency }}</td>
          <td>
            <img [src]="producto.image" alt="{{ producto.title }}" width="50">
          </td>
        </tr>
      </tbody>
    </table>
</div>