<div class="container mt-4">
    <h2>Lista de Productos</h2>
    <input type="text" class="form-control mb-3" placeholder="Filtrar productos..." 
           (input)="filtrarProductos($event)">
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Categoría</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <td>{{ producto.id }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.precio  }}</td>
          <td>{{ producto.categoria }}</td>
        </tr>
      </tbody>
    </table>
  </div>